.main-footer{
    position: fixed;
    bottom: 0px;
    width: 100%;
}

button{
    margin-left: 5px;
    margin-top:-10px;
}

.table-actions{
    width:80% auto;
    font-size: 22px;
}

.category-menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #000;
    padding: 10px 0;
    width: 100%;
}

.category-button {
    color: #fff;
    background: none;
    border: none;
    font-size: 16px;
    cursor: pointer;
    transition: color 0.3s;
}

.category-button:hover {
    color: #f0ad4e;
}
